<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.AssetManagerMobile" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permision.VIBRATE"/>
	<application android:label="AssetManagerMobile.Android">
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
               android:value="barcode"/>
  </application>
</manifest>